<div>
<% if flash[:errors] %>
<%= flash[:errors] %>
<% end %>

<h1 class="title">LOGIN</h1>
 
  <%= form_for :session, url: login_path do |f| %>
   
      <%= f.label :username %>
      <%= f.text_field :username, autocomplete: "off" %>
      <br>
      <br>
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "off" %>
      <br>
      <br>
  
  <%= f.submit "Login" %>
    
  <% end %>
  <br>
  </div>
  