<% if flash[:errors] %>
<%= flash[:errors] %>
<% end %>

<h3>Login</h3>
 
  <%= form_for :session, url: login_path do |f| %>
   
      <%= f.label :username %>
      <%= f.text_field :username %>
   

  
        <%= f.label :password %>
        <%= f.text_field :password %>


    <%= f.submit "Login" %>
    
  <% end %>
  <br>
  <h4><%= link_to "Create New Account", new_investor_path %></h4>