<% if flash[:errors] %>
<%= flash[:errors] %>
<% end %>

<h2>Login</h2>
 
  <%= form_for :session, url: login_path do |f| %>
   
      <%= f.label :username %>
      <%= f.text_field :username %>
      <br>
      <br>
      <%= f.label :password %>
      <%= f.text_field :password %>
      <br>
      <br>
  
  <%= f.submit "Login" %>
    
  <% end %>
  <br>
  <h3><%= link_to "Create New Account", new_investor_path %></h3>