<!-- index through all the stocks held and list amount, want to only have unique and avg price-->
<div>
<h1 class="title">CURRENT HOLDINGS</h1>
<br><hr class="new1"><br>

<%if @unique %>
    <% @unique.each do |key, value| %>
        <%if value != 0%>
            <p><%= link_to @client.company(key).company_name, stock_show_path(key)%><p>
            <p><%="Quantity #{value} - Current price: $ #{@client.price(key)}"%></p>
            <p><%= link_to "buy", stock_buy_path(key)%>
            <%= link_to "sell", stock_sell_path(key)%> </p> 
            <br><hr class="new1"><br>
        <%end%>
    <%end%>
<%else%>
    <p>You currently own no stocks </p>
    <br><hr class="new1"><br>
<%end%>


<h3>Total purchase price: <%= number_to_currency(@pp_total) %></h3>
<h3>Current value: <%= number_to_currency(@live_total) %></h3>     
<h3>Total gain/loss: <%= number_to_percentage(@percent_change) %></h3>
<h3>Cash Balance: <%= number_to_currency(@balance) %></h3>

<br>
<p><%= link_to 'Past Transactions', stock_filled_orders_path %></p>
</div>






