<!-- index through all the stocks held and list amount, want to only have unique and avg price-->
<h1>Current Holdings</h1>

<% Portfolio.unique_tickers.each do |key, value| %>
<p><%= link_to @client.company(key).company_name, stock_show_path(key)%><p>
<p><%="Quantity #{value}. Current price: $ #{@client.price(key)}"%></p>
<%end%>
<br><br>
<h3>Total purchase price of stocks: $ <%= @pp_total %></h3>
<h3>Current value of stocks: $ <%= @live_total %></h3>

<h3>Total gain/loss <%= @percent_change %></h3>


<p><%= link_to 'Search for a new stock to purchase', stocks_path %> </p>
<p><%= link_to 'Past filled orders', stock_filled_orders_path %></p>
<br>
<%= link_to "logout", logout_path, method: :delete %>





