<!--# Within here, stock will be added to portfolio. investor adds ticker, as well as quantity. -->
<!--this will save a transaction in portfolio (buy/sell, quantity, price, ticker)-->

<div>
<%@current_price = @client.quote(params[:ticker]).latest_price%>

<h2 class="title">Purchase shares of <%=@client.company(params[:ticker]).company_name%> </h2>

<h4>Current Price: <%=number_to_currency(@current_price)%> </h4>

<%=form_for @portfolio do |f|%>
    <%= f.label :quantity %>
    <%= f.number_field :quantity, min: 0 %><br><br>

    <%= f.hidden_field :buysell, value: true %>
    <%= f.hidden_field :price, value: @current_price.to_f %>
    <%= f.hidden_field :ticker, value: params[:ticker]%> <!--this hidden field to send ticker - then check in DB, if not already in db, create it-->

    <%= f.submit "Purchase Share(s)"%>
<%end%>
<br>
<br>
</div>
