
<!--form to choose gainers/losers-->
<div>
<%= form_tag stock_show_path(:search), method: :get do %>
  <h1 class="cap"><%= label_tag "SEARCH STOCKS BY SYMBOL"%></h1>
  <br>
  <%= search_field_tag :search %>
   <%= submit_tag("Search")  %>
 <%end%>
</div>
<br>
<div>
<h1>STOCK LISTS</h1>
<br>
<h3><%= link_to "Most Active", stock_active_path %></h3>
<br>
<h3><%= link_to "Biggest Gainers", stock_gainers_path %></h3>
<br>
<h3><%= link_to "Biggest Losers", stock_losers_path %></h3>
<br>
<h3><%= link_to "Highest Volume Today", stock_volume_path %></h3>
<br>
<h3><%= link_to "Largest Percentage Change", stock_percent_path %></h3>
<br>
</div>
<!-- search bar, sending same info back. form tag, repeat above-->


