
<!--form to choose gainers/losers-->
<h1>Top 10 stocks</h1>
<ol>
<% @stocks.each do |stock|%>
<li><%= link_to stock.company_name, stock_show_path(stock.symbol) %></li>
<%end%>
</ol>

<!-- search bar, sending same info back. form tag, repeat above-->

<br>
<%= form_tag stock_show_path(:search), method: :get do %>
  <%= label_tag "Search for a stock by ticker"%>
  <%= search_field_tag :search %>

  <%= submit_tag("Search")  %>

<%end%>

