
<!--form to choose gainers/losers-->

<% @stocks.each do |stock|%>
<p><%= link_to stock.company_name, stock_show_path(stock.symbol) %></p>
<%end%>

<!-- search bar, sending same info back. form tag, repeat above-->

<br>
<%= form_tag stock_show_path(:search), method: :get do %>
  <%= label_tag "Search for a stock by ticker: NOT routing correctly "%>
  <%= search_field_tag :search %>

  <%= submit_tag("Search")  %>

<%end%>

