
<!--form to choose gainers/losers-->
<%= form_for @stocks do |f| %>
<%= f.collection_select :stocks, @active, @gainer, @loser, @volume, @percent :name %>
<%= f.submit %>
<%end%>

<% @stocks.each do |stock|%>
<p><%= link_to stock.company_name, stock_show_path(stock.symbol) %></p>
<%end%>

<!-- search bar, sending same info back. form tag, repeat above-->

<br>
<%= form_tag stock_show_path(:search), method: :get do %>
  <%= label_tag "Search for a stock by ticker:"%>
  <%= text_field_tag :stockticker %>

  <%= submit_tag("Search")  %>

<%end%>