<marquee><%= @company.company_name %> - Trading at: $<%= @quote.latest_price %></marquee>

<h3><%= @company.company_name %></h3>
 <p>Price: $<%= @quote.latest_price %></p>
 <p>52 Week High: <%= @key_stats.week_52_high %></p>
 <p>52 Week Low: <%= @key_stats.week_52_low %></p>
 <p>Market Cap: <%= @key_stats.market_cap %></p>
 <p>EPS: <%= @key_stats.ttm_eps %></p>
 <%if  !@key_stats.dividend_yield == 0 %>
    <p>Dividend Yield: <%= @key_stats.dividend_yield %></p>
<%end%>


 <br><br>
 <p><%= link_to "Purchase #{@ticker}", stock_buy_path(@ticker) %>  </p> 
 <!--lets use this above link to try and create new stock  -->

 <p><%= button_to "Purchasebutton", stock_buy_path(@ticker), method: "get"        %> </p>
 <p><%= link_to 'Search for a new stock to purchase', stocks_path %> </p>


