<marquee class="back double size"><%= @company.company_name %> - Trading at: $<%= @quote.latest_price %></marquee>
<br>
<br>
<div class="double">
<h1 class="title"><%= @company.company_name %></h1>
<h3><%= @ticker %></h3>
 <p>Price: $<%= @quote.latest_price %></p>
 <p>52 Week High: <%= number_to_currency(@key_stats.week_52_high) %></p>
 <p>52 Week Low: <%= number_to_currency(@key_stats.week_52_low) %></p>
 <p>Market Cap: <%= number_to_currency(@key_stats.market_cap) %></p>
 <p>EPS: <%= @key_stats.ttm_eps %></p>

 <%if  !@key_stats.dividend_yield == 0 %>
    <p>Dividend Yield: <%= @key_stats.dividend_yield %></p>
<%end%>

<br>
 <p><%= link_to "Purchase #{@ticker}", stock_buy_path(@ticker) %>  </p> 
 </div>
