<!DOCTYPE html>
<html>
  <head>
    <title>RagingBull</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>

  <h1 class="head"><br><%= image_tag("power-bull-vector-2537766.jpeg", size: "150x150") %><br><br>Raging Bull<br><br></h1>
      <ul class="nav">
      <% if @current_investor %>
         <li><%= link_to "Stocks Main Page", stocks_path %></li>
         <li><%= link_to "Current Holdings", portfolios_path %></li>
         <li><%= link_to "Logout", logout_path, method: :delete  %></li>
      <% end %>
      </ul>
      <br>
  
  
    <%= yield %>
  
  </body>
</html>
